header #top-bg {
  background-image: url("../assets/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 640px) {
  header #top-bg {
    background-image: url("../assets/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}