@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
  --heading-font: 'Alata', sans-serif;;
  --main-font: 'Josefin Sans', sans-serif;

  font-size: 15px;
  line-height: 1.5;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 300px;
  min-height: 100vh;
  color: var(--black);
  background-color: var(--white);
  font-family: var(--main-font);
}

.footer {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--heading-font);
}