@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
  --heading-font: 'Alata', sans-serif;;
  --main-font: 'Josefin Sans', sans-serif;

  font-size: 15px;
  line-height: 1.5;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

body {
  margin: 0;
  min-width: 300px;
  min-height: 100vh;
  color: var(--black);
  background-color: var(--white);
  font-family: var(--main-font);
}

p {
  color: var(--very-dark-gray);
}

#desktop-menu {
  font-family: var(--heading-font);
}

.see-all {
  font-family: var(--heading-font);
  letter-spacing: 3px;
}

#creation-desktop {
  display: none;
}

@media screen and (min-width: 480px) {
  #creation-desktop {
    display: block;
  }

  #creation-mobile {
    display: none;
  }
}

footer {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--heading-font);
}
